---
import DkBtn from "../components/Dk-btn.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Drum Kit Project">
    <section class="w-[90%] max-w-3xl min-h-screen flex flex-col justify-evenly items-center mx-auto">
        <div class="w-full flex justify-between items-center">
            <h2 class="text-5xl">Drum Kit</h2>
            <a class="[&>svg]:hover:text-[var(--accent)] scale-100 active:scale-90 duration-300" href="/#">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back-up h-12 w-12 duration-300"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 14l-4 -4l4 -4" /><path d="M5 10h11a4 4 0 1 1 0 8h-1" /></svg>
            </a>
        </div>
        <div class="flex flex-wrap justify-center gap-4">
            <DkBtn 
            id="tom1"
            src="/img/dk-tom1.png"
            alt="tom 1 pic"
            char="w"/>
            <DkBtn 
            id="tom2"
            src="/img/dk-tom2.png"
            alt="tom 2 pic"
            char="a"/>
            <DkBtn 
            id="tom3"
            src="/img/dk-tom3.png"
            alt="tom 3 pic"
            char="s"/>
            <DkBtn 
            id="tom4"
            src="/img/dk-tom4.png"
            alt="tom 4 pic"
            char="d"/>
            <DkBtn 
            id="snare"
            src="/img/dk-snare.png"
            alt="snare pic"
            char="j"/>
            <DkBtn 
            id="crash"
            src="/img/dk-crash.png"
            alt="crash pic"
            char="k"/>
            <DkBtn 
            id="kick"
            src="/img/dk-kick.png"
            alt="kick pic"
            char="l"/>            
        </div>
        <p>Made with <span class="text-red-600">❤️</span> by Alpes</p>
    </section>
</Layout>



<script>
    const tom1 = document.getElementById('tom1')
    const tom2 = document.getElementById('tom2')
    const tom3 = document.getElementById('tom3')
    const tom4 = document.getElementById('tom4')
    const snare = document.getElementById('snare')
    const crash = document.getElementById('crash')
    const kick = document.getElementById('kick')

    function clicked (btn) {
        btn.style.transform = 'scale(.9)'
        setTimeout(() => {
            btn.style.transform = 'scale(1)'
        }, 200);
    }

    document.addEventListener("astro:page-load", () => {
        // Angela's solution
        let numberOfDumsButtons = document.querySelectorAll(".dk-btn").length;

        function playSound (char) {
            let src = ""
            char = `${char.toLowerCase().trim()}`;
            switch (char) {
                    case "w":
                        src = "/sounds/dk-tom1.mp3"
                        clicked(tom1)
                        break;
                    case "a":
                        src = "/sounds/dk-tom2.mp3"
                        clicked(tom2)
                        break;
                    case "s":
                        src = "/sounds/dk-tom3.mp3"
                        clicked(tom3)
                        break;
                    case "d":
                        src = "/sounds/dk-tom4.mp3"
                        clicked(tom4)
                        break;
                    case "j":
                        src = "/sounds/dk-snare.mp3"
                        clicked(snare)
                        break;
                    case "k":
                        src = "/sounds/dk-crash.mp3"
                        clicked(crash)
                        break;
                    case "l":
                        src = "/sounds/dk-kick.mp3"
                        clicked(kick)
                        break;
                    default:
                        console.log("No matching case for buttonInnerHTML:", char);
                        break;
                }

                let audio = new Audio(src)
                audio.play()
        }

        for (let i = 0; i < numberOfDumsButtons; i++) {
            
            document.querySelectorAll(".dk-btn")[i].addEventListener('click', function () {
                
                let char = `${this.textContent}`  
                playSound(char)              
            })
            
        }

        document.addEventListener('keydown', function (key) {
            let char = `${key.key}`
            playSound(char)
        })
    })

    // My solution
    /*document.addEventListener("astro:page-load", () => {
        const playSoundWithButton = (src:string) => {
                let path = `/sounds/dk-${src}.mp3`;
                let sound = new Audio(path);
                sound.play();
            };    
        
        const buttons = document.querySelectorAll(".dk-btn");
            buttons.forEach(button => {
                button.addEventListener("click", () => {
                    const src = button.id;
                    playSoundWithButton(src);
                });
            });

        });
    
    let src = ""
    
    const playSoundWithKey = (drum) => {
        switch (drum) {
            case "KeyW":
                src = '/sounds/dk-tom1.mp3'
                break
            case "KeyA":
                src = '/sounds/dk-tom2.mp3'
                break
            case "KeyS":
                src = '/sounds/dk-tom3.mp3'
                break
            case "KeyD":
                src = '/sounds/dk-tom4.mp3'
                break
            case "KeyJ":
                src = '/sounds/dk-snare.mp3'
                break
            case "KeyK":
                src = '/sounds/dk-crash.mp3'
                break
            case "KeyL":
                src = '/sounds/dk-kick.mp3'
                break
        
            default:
                break;
            }

            let sound = new Audio(src)
            sound.play()
        }
        

    document.addEventListener('keydown', key => {
        playSoundWithKey(key.code)
    })*/

</script>