---
import Layout from '../layouts/Layout.astro';
import CardProjects from '../components/CardProjects.astro'
---

<Layout title="Web Dev Bootcamp by Angela Yu">
	<main class="w-full max-w-5xl mx-auto">
		<h1 class="text-center text-4xl py-10 text-[var(--accent)]">Bootcamp Projects</h1>
		<section class="mx-auto">
			<CardProjects
			href='drum-kit'
			src='img/drum-kit.png'
			alt='drum kit project pic'
			title='Drum Kit ðŸ¥'
			subtitle='DOM Managment: intermediate - Advanced'/>
			<CardProjects
			href='jquery'
			src='img/jquery.png'
			alt='jquery pic'
			title='JQuery'
			subtitle='JQuery: intermediate - Advanced'/>
			<CardProjects
			href='simon'
			src='img/simon-game.png'
			alt='simon game pic'
			title='Simon'
			subtitle='Simon Game: intermediate - Advanced'/>
		</section>
		
	</main>
</Layout>

<style>
	section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 320px));
		gap: 1rem;
		justify-content: center;
	}
</style>
