---
interface Props {
    href: string,
    src: string,
    alt?: string,
    title: string,
    subtitle: string,
}

const { href, src, alt, title, subtitle } = Astro.props
---


<a href={ href }>
    <picture>
        <img src={ src } alt={ alt }>
    </picture>
    <div>
        <h2>{ title }</h2>
        <p>{ subtitle }</p>
    </div>
</a>