---
interface Props {
    href: string,
    src: string,
    alt?: string,
    title: string,
    subtitle: string,
}

const { href, src, alt, title, subtitle } = Astro.props
---


<a class="rounded-md overflow-hidden relative" href={ href }>
    <picture class="aspect-video overflow-hidden w-full">
        <img class="scale-100 duration-300" src={ src } alt={ alt }>
    </picture>
    <div class="py-4 pl-4 border border-[var(--secondary)] border-t-0 rounded-b-md">
        <h2 class="text-xl font-medium text-[var(--accent)]">{ title }</h2>
        <p class="text-xs">{ subtitle }</p>
    </div>
</a>

<style>
    a:hover picture img {
        transform: scale(1.1);
    }
</style>