---
interface Props {
    color: string,
}

const { color } = Astro.props
---

<div id={ color } class=`simon-btn w-1/3 max-w-40 aspect-square bg-${color}-600 outline outline-[1rem] outline-[var(--secondary)] active:outline-[var(--accent)] scale-100 active:scale-90 opacity-100 active:opacity-50 rounded cursor-pointer duration-300`></div>